body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/*nav bar*/
/*logo*/
.logo {
    margin-top: 40px;
    margin-left: 50px;
}

nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 190px;
    margin-top: -30px;
    overflow: hidden;
    float: right;
}

nav ul li {
    float: left;
    border-bottom: 1px solid black;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #820000;
    font-size: 13px;
}

nav ul li a:hover {
    background-color: transparent;
    font-weight: 600;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 160px;
    border-bottom: 1px solid black;
    border-top: none;
    border-radius: 5px;
    width: 250px;
    z-index: 2;
}

.dropdown-contenttwo {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 160px;
    border-bottom: 1px solid black;
    border-top: none;
    border-radius: 5px;
    width: 145px;
    z-index: 2;
}

.dropdown-contentThree {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 100px;
    border-bottom: 1px solid black;
    border-top: none;
    border-radius: 5px;
    width: 119px;
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contenttwo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contentThree a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5B5B5B;
    color: black;
    text-decoration: none;
}

.dropdown-contenttwo a:hover {
    background-color: #5B5B5B;
    color: black;
    text-decoration: none;
}

.dropdown-contentThree a:hover {
    background-color: #5B5B5B;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-contenttwo {
    display: block;
}

.dropdown:hover .dropdown-contentThree {
    display: block;
}

/*red underline*/
.dropdown-content::before {
    content: "";
    display: block;
    border-top: 8px solid #820000;
}

.dropdown-contenttwo::before {
    content: "";
    display: block;
    border-top: 8px solid #820000;
}

.dropdown-contentThree::before {
    content: "";
    display: block;
    border-top: 8px solid #820000;
}

.no-dropdown:hover {
    background-color: transparent;
    border-bottom: 5px solid #820000;
}

/*quote container*/
#quote-container {
    width: 1300px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 50px auto;
    text-align: center;
    margin-top: 90px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#quote-text {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: 500;
    font-size: 48px;
}

#quote-image {
    width: 1340px;
    height: 140px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: none;
}

/*title*/
.eptitle {
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 220px;
}

.image-container a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    margin-bottom: 5px;
    font-weight: bold;
}

.image-container img {
    width: 100%;
}

.image-container div{
    margin-top: 25px;
}
