body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/*nav bar*/
/*logo*/
.logo {
  margin-top: 40px;
  margin-left: 50px;
}

nav {
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-right: 190px;
  margin-top: -30px;
  overflow: hidden;
  float: right;
}

nav ul li {
  float: left;
  border-bottom: 1px solid black;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #820000;
  font-size: 13px;
}

nav ul li a:hover {
  background-color: transparent;
  font-weight: 600;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D9D9D9;
  min-width: 160px;
  border-bottom: 1px solid black;
  border-top: none;
  border-radius: 5px;
  width: 250px;
  z-index: 2;
}

.dropdown-contenttwo {
  display: none;
  position: absolute;
  background-color: #D9D9D9;
  min-width: 160px;
  border-bottom: 1px solid black;
  border-top: none;
  border-radius: 5px;
  width: 145px;
  z-index: 2;
}

.dropdown-contentThree {
  display: none;
  position: absolute;
  background-color: #D9D9D9;
  min-width: 100px;
  border-bottom: 1px solid black;
  border-top: none;
  border-radius: 5px;
  width: 119px;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contenttwo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentThree a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #5B5B5B;
  color: black;
  text-decoration: none;
}

.dropdown-contenttwo a:hover {
  background-color: #5B5B5B;
  color: black;
  text-decoration: none;
}

.dropdown-contentThree a:hover {
  background-color: #5B5B5B;
  color: black;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-contenttwo {
  display: block;
}

.dropdown:hover .dropdown-contentThree {
  display: block;
}

/*red underline*/
.dropdown-content::before {
  content: "";
  display: block;
  border-top: 8px solid #820000;
}

.dropdown-contenttwo::before {
  content: "";
  display: block;
  border-top: 8px solid #820000;
}

.dropdown-contentThree::before {
  content: "";
  display: block;
  border-top: 8px solid #820000;
}

.no-dropdown:hover {
  background-color: transparent;
  border-bottom: 5px solid #820000;
}

/*title text, san fernando evacuation center*/
h1 {
  color: black;
  margin-left: 100px;
  width: 750px;
  white-space: normal;
  font-size: 64px;
  margin-bottom: 40px;
}

/*buttons of brgys*/

.buttons {
  display: flex;
}

.button {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.buttontwo {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: 250px;
}

.button:first-child {
  margin-right: 40px;
}

.mapbuttons {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 85px;
}

.mapbuttons img {
  width: 30px;
  margin-right: 10px;
}

.map {
  height: 400px;
}

/*note*/
.note {
  color: #5B5B5B;
  font-style: italic;
  white-space: normal;
  text-align: left;
  width: 550px;
  margin-top: 310px;
  margin-left: 100px;
  font-size: 12px;
}

/*Result - bonifacio*/
.result-container {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -550px;
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
.result-container::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

.result-container.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.result-container.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/*img of bonifcio evac*/
.bonevac {
  border-radius: 10px;
  height: 200px;
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.brgybontitle {
  color: #7B0008;
  font-weight: bold;
  top: 60px;
  align-items: center;
  font-size: 40px;
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgybontitle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgybonadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onebonincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.oneboninchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.oneboninchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.twobonincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.twoboninchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.twoboninchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*lupi*/
#result-lupi {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -600px;
  /* Adjust the margin-top value as needed */
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
#result-lupi::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

#result-lupi.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#result-lupi.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.brgylupititle {
  color: #7B0008;
  font-weight: bold;
  top: 80px;
  align-items: center;
  font-size: 40px;
  margin-left: 150px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgylupititle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgylupiadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onelupiincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.onelupiinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.onelupiinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.twolupiincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.twolupiinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.twolupiinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*del pilar*/
#result-delpilar {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -600px;
  /* Adjust the margin-top value as needed */
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
#result-delpilar::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

#result-delpilar.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#result-delpilar.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.brgydelptitle {
  color: #7B0008;
  font-weight: bold;
  top: 80px;
  align-items: center;
  font-size: 40px;
  margin-left: 115px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgydelptitle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgydelpadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onedelpincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.onedelpinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.onedelpinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.twodelpincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.twodelpinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.twodelpinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*beberon*/
#result-beberon {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -600px;
  /* Adjust the margin-top value as needed */
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
#result-beberon::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

#result-beberon.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#result-beberon.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.brgybebetitle {
  color: #7B0008;
  font-weight: bold;
  top: 80px;
  align-items: center;
  font-size: 40px;
  margin-left: 115px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgybebetitle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgybebeadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onebebeincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.onebebeinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.onebebeinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.twobebeincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.twobebeinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.twobebeinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*rizal*/
#result-rizal {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -600px;
  /* Adjust the margin-top value as needed */
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
#result-rizal::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

#result-rizal.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#result-rizal.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.brgyriztitle {
  color: #7B0008;
  font-weight: bold;
  top: 80px;
  align-items: center;
  font-size: 40px;
  margin-left: 145px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgyriztitle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgyrizadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onerizincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.onerizinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.onerizinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.tworizincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.tworizinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.tworizinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*pinamasagan*/
#result-pinamasagan {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -600px;
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
#result-pinamasagan::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

#result-pinamasagan.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#result-pinamasagan.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.brgypintitle {
  color: #7B0008;
  font-weight: bold;
  top: 80px;
  align-items: center;
  font-size: 40px;
  margin-left: 55px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgypintitle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgypinadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onepinincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.onepininchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.onepininchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.twopinincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.twopininchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.twopininchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*bocal*/
#result-bocal {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin-left: 880px;
  margin-top: -600px;
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.25), 0 0 0 1px inset black;
  padding: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(0);
}

/* Triangle */
#result-bocal::after {
  content: "";
  position: absolute;
  top: 410px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160.33px solid #820000;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 1;
}

#result-bocal.slide-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#result-bocal.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.brgyboctitle {
  color: #7B0008;
  font-weight: bold;
  top: 80px;
  align-items: center;
  font-size: 40px;
  margin-left: 135px;
  margin-bottom: 0;
  margin-top: 0;
}

.subbrgyboctitle {
  margin-left: 54px;
  color: black;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.landmark {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 110px;
  font-size: 10px;
}

.brgybocadd {
  font-weight: 100;
  font-size: 15px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*first incharge*/
.onebocincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.onebocinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.onebocinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*2nd incharge*/
.twobocincharge {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.twobocinchargename {
  font-weight: 100;
  margin-left: 55px;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.twobocinchargenumber {
  font-weight: bolder;
  margin-left: 55px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}