body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.table-container{
    margin-left: 270px;
    margin-top: 30px;
}

.table-container img {
    border-radius: 10px;
    width: 1050px;
    height: 650px;
}

/*button next and back*/

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px !important;
}

.button-container img {
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}